section {
    height: 100vh; /* Make each section cover the entire viewport height */
    overflow: hidden; /* Hide overflow content beyond the viewport */
    position: relative; /* Needed for absolute positioning within the section */
    border: 0;
}
body{
    margin: 0;
    padding: 0;
}
#page1{
    transition: background-color 1s ease;
}
/* styles.css */
.navbar {
    position: fixed; /* Fix the navbar at the top of the viewport */
    top: 0; /* Position it at the top */
    width: 100%; /* Make it full width */
    background-color: #ffffff; /* Set your desired background color */
    color: #000000; /* Text color for the links */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 1000; /* Set a high z-index to ensure it's above other content */
    transition: background-color 1s;
}
.logo img {
    max-height: 40px; /* Set the maximum height for the logo image */
}

.nav-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center; /* Center-align the links horizontally */
    flex-grow: 1; /* Allow the links to grow and take up available space */
    margin: 0; /* Remove any default margin */
}

.nav-links li {
    margin-right: 20px; /* Add spacing between the links */
}

.nav-links a {
    text-decoration: none;
    color: black; /* Link text color */
    transition: background-color 0.3s; /* Smooth transition for background color */
    padding: 10px 20px; /* Add padding to create a button-like effect */
    border-radius: 30px; /* Add rounded corners */
    font-size: large;
    font-family: 'Lato', sans-serif;



}
.nav-links a:hover {
    background-color: #000000; /* Background color on hover */
    color: white;
}

/* MAIN HEADING SECTION*/
.header {
    text-align: left; /* Slightly offset to the left */
    margin-left: 17%;
    margin-top: 14%;
}

h1{
    font-size: 5rem; /* Adjust the font size as needed */
    margin: 0; /* Remove any default margin */
    font-family: 'Open Sans', sans-serif;
}
p{
    font-size: 24px; /* Adjust the font size as needed */
    margin: 0; /* Remove any default margin */
    font-family: 'Open Sans', sans-serif;
    margin-left: 7px;
    
}

/* THE BUTTONS BELOW NAME*/

/* styles.css */
.button-container {
    margin-left: 17%;
    margin-top: 2%; /* Add some top margin for spacing */
}

.border-button {
    border: 2px solid #333; /* Border style with color */
    background: none; /* No background color */
    padding: 10px 20px; /* Add padding for button size */
    margin: 5px; /* Add margin for spacing between buttons */
    cursor: pointer; /* Change cursor to pointer on hover for usability */
    font-family: 'Montserrat', sans-serif;
    transition: background-color 0.5s;
    color: #000;
    text-decoration: none;
}

.border-button:hover {
    background: black; /* No background color on hover */
    border: 2px solid #000000; /* Change border color on hover */
    color: white;
}

/* random icons*/
/* styles.css */


/* Default styling for clickable icons */
/* Default styling for clickable icons */
/* Default styling for clickable icons */
/* Add 3D hover effect for clickable icons */
.clickable-icon {
    position: absolute;
    cursor: pointer;
    margin-left: 50%;
    margin-top: 5%;
    transform: translateX(-50%);
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
}

.clickable-icon:hover {
    transform: translateX(-50%) scale(1.3); /* Scale up on hover */
    
}

/* Make the images inside .clickable-icon smaller */
.clickable-icon img {
    width: 50px;
}

/* Media query for screens with a max-width of 768px */
@media (max-width: 768px) {
    .clickable-icon {
        position: static;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 5%;
    }
    .icon-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

/* tech stack */
/* Add styles for the "Tech Stack" section */
.tech-stack {
    text-align: center;
    margin-top: 8%; /* Add top margin for spacing */
}

/* Style the "Tech Stack" title */
.tech-stack h2 {
    font-family: 'Montserrat', sans-serif;

    font-size: 15px; /* Adjust font size as needed */
}

/* Style the container for the tech icons */
.icon-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Style the individual tech icons */
.tech-icon {
    margin: 0 1%; /* Add horizontal spacing between icons */
    width: 50px;
}

.tech-icon img {
    width: 50px; /* Adjust the size as needed */
}

/* Media query for screens with a max-width of 768px */
@media (max-width: 768px) {
    .tech-icon {
        margin: 10px 5px; /* Adjust spacing on smaller screens */
    }
}


  .section::before {
    animation: bounce 1s ease infinite;
    bottom: 2rem;
    color: #000000;
    content: '╲╱';
    font-size: 2rem;
    height: 4rem;
    left: 50%;
    letter-spacing: -1px;
    line-height: 4rem;
    margin-left: -3rem;
    opacity: 0.8;
    position: absolute;
    text-align: center;
    width: 6rem;
  }
  
  @keyframes bounce {
    50% {
      transform: translateY(-50%);
    }
  }

/* PAGE 2 */
/*ANIMATION */
.view
{
	margin-left: 70%;
	margin-top: 12%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	perspective: 400;
}
.plane
{
	width: 300px;
	height: 300px;
	transform-style: preserve-3d;
}
.plane.main
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	transform: rotateX(60deg) rotateZ(-30deg);
	-webkit-animation:rotate 20s infinite linear;
	animation:rotate 20s infinite linear; 
}
.plane.main .circle
{
	width: 300px;
	height: 300px;
	position: absolute;
	transform-style: preserve-3d;
	border-radius: 100%;
	box-sizing: border-box;
	box-shadow: 0 0 60px crimson, inset 0 0 60px crimson; 
}
.plane.main .circle::before, .plane.main .circle::after
{
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 0%;
	height: 0%;
	border-radius: 100%;
	background: crimson;
	box-sizing: border-box;
	box-shadow: 0 0 60px 2px crimson;
}
.plane.main .circle::before
{
	transform: translateZ(-90px);
}
.plane.main .circle::after
{
	transform: translateZ(90px);
}
.plane.main .circle:nth-child(1)
{
	transform: rotateZ(72deg) rotateX(63.435deg);
}
.plane.main .circle:nth-child(2)
{
	transform: rotateZ(144deg) rotateX(63.435deg);
}
.plane.main .circle:nth-child(3)
{
	transform: rotateZ(216deg) rotateX(63.435deg);
}
.plane.main .circle:nth-child(4)
{
	transform: rotateZ(288deg) rotateX(63.435deg);
}
.plane.main .circle:nth-child(5)
{
	transform: rotateZ(360deg) rotateX(63.435deg);
}
@-webkit-keyframes rotate{
	0%
	{
		transform: rotateX(0) rotateY(0) rotateZ(0);
	}
	100%
	{
		transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
	}
}
@keyframes rotate
{
	0%
	{
		transform: rotateX(0) rotateY(0) rotateZ(0);
	}
	100%
	{
		transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
	}	
}

#page2{
    background-color: #000000;
    transition: background-color 1s ease;
}
.aboutHeading{
    font-size:50px;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}
.about{
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    margin-right: 50%;
    text-align: justify;
    
}
.content{
    margin-left: 7%;
}

.resume {
    border: 2px solid #333; /* Border style with color */
    background: white; /* No background color */
    padding: 20px 40px; /* Add padding for button size */
    margin: 5px; /* Add margin for spacing between buttons */
    cursor: pointer; /* Change cursor to pointer on hover for usability */
    font-family: 'Montserrat', sans-serif;
    transition: background-color 0.5s;
    margin-top: 6%;
}

.resume a {
    text-decoration: none; /* Remove underline from the link inside the button */
    color: inherit; /* Inherit text color from the button */
}

.resume:hover {
    background-color: black; /* Background color on hover */
    color: white;
    border: 2px solid #ffffff; /* Border style with color */
}

@media (max-width: 768px) {
    
    .view{  
	margin-left: 40%;
	margin-top: 120%;
	
    }
    .aboutHeading{
        font-size:30px;
        color: #ffffff;
        font-family: 'Open Sans', sans-serif;
    }
    .about{
        color: #ffffff;
        font-family: 'Open Sans', sans-serif;
        margin-right: 5%;
        text-align: justify;
        
    }
    .content{
        margin-top: 50%;
    }
    .content1{
        margin-top: 50%;
    }
    
}
.aboutHeading{
    display: inline-block;
}
.typewriter {
    
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid white;
    animation: typing 3s steps(8, end) forwards, erasing 3s steps(8, end) 1s infinite,
                curser .4s step-end infinite alternate;
}

@keyframes typing {
    0%, 100% {
        width: 0;
    }
    50% {
        width: 100%;
    }
}

@keyframes erasing {
    0%, 100% {
        width: 100%;
    }
    50% {
        width: 0;
    }
}
@keyframes cursor{
    50%{
        border-color: transparent;
    }
}



/*SECTION 3 - LATEST PROJECTS */
#page3 {
    background-color: black; /* Set your desired background color */
    padding: 50px 0; /* Adjust padding as needed */
    text-align: center; /* Center-align the content */
}

.projectContainer1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px; /* Adjust the max-width for your container */
}
.projectContainer2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px; /* Adjust the max-width for your container */
}

.project {
    background-color: #fff;
    margin: 20px;
    padding: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 300px;
    height: 150px;
    text-align: center;
}

.project img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
    padding:0;
    border-radius: 5px;
    transition: transform 0.3s;
}

.project img:hover{
    transform: scale(1.1);
}

.project h3 {
    font-size: 24px;
    margin: 10px 0;
}

.project p {
    font-size: 16px;
}
.projects-container h2{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
}
/*the picture in the project  */
.popup{
    width: 400px;
    background: white;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%)scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s , top 0.4s;
}

.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%)scale(1);
}
.popup img{
    width: 400px; /*ADJUST THE SIZE OF THE IMAGE HERE */
    margin-top: -50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.popup h2{
    color: #000000;
    font-family: 'Open Sans', sans-serif;
}
.popup button{
    display: inline-block;
    padding: 10px 20px;
    background-color: #000000; /* Background color */
    color: #fff; /* Text color */
    border: none; /* Remove button border */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Add a pointer cursor on hover */
    transition: background-color 0.3s, transform 0.3s;
}
.popup button:hover {
    background-color: #000000; /* Darker background color on hover */
    transform: scale(1.05); /* Add a scale effect on hover */
}

/* add popup and h2 for editing the text under and so on */
/*CONTACT ME */

#page4 {
    background-color: #000; /* Set the background color for the contact section */
    color: #fff; /* Set text color to white */
    padding: 40px 0;
    text-align: center; /* Center-align the content */
}

.contactContainer {
    max-width: 800px;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 12%;
    padding: 20px;
}

.contactContainer h1 {
    font-size: 50px;
    margin: 0 0 20px;
}

.contactContainer form {
    text-align: left; /* Reset text alignment for form elements */
}

.contactContainer label {
    display: block; /* Make labels display as block elements */
    margin: 10px 0;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

input[type="text"],
input[type="email"],
.contactContainer textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #000; /* Input background color */
    color: #fff; /* Input text color */
}

.contactContainer textarea {
    resize: vertical; /* Allow vertical resizing of the textarea */
}

.contactContainer button {
    background-color: #2980b9; /* Button background color */
    color: #fff; /* Button text color */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.contactContainer button[type="submit"]:hover {
    background-color: #34495e; /* Button background color on hover */
}

@media (max-width: 768px) {
    .contactContainer {
        max-width: 800px;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 50%;
        padding: 20px;
    }
}

@media screen and (max-width: 450px) {
    h1 {
      font-size: 22px; /* Decrease font size for smaller screens */
    }
  
    p {
      margin: 5px; /* Decrease margin for smaller screens */
      font-size: 15px;
    }
    .button-container {
        margin-left: 17%;
        margin-top: 2%; /* Add some top margin for spacing */
        display: flex;

    }
    
    .border-button {
        border: 2px solid #333; /* Border style with color */
        background: none; /* No background color */
        padding: 5px 10px; /* Add padding for button size */
        margin: 5px; /* Add margin for spacing between buttons */
        cursor: pointer; /* Change cursor to pointer on hover for usability */
        font-family: 'Montserrat', sans-serif;
        transition: background-color 0.5s;
        color: #000;
        text-decoration: none;
        font-size: 10px;
    }
   
    .clickable-icon img{
        width: 30px;
        
    }
    .tech-icon {
        margin: 0 1%; /* Add horizontal spacing between icons */
        width: 25px;
    }
    
    .tech-icon img {
        width: 20px; /* Adjust the size as needed */
    }
    .section::before {
    font-size: 1rem;
    }
    .typewriter{
        font-size: 25px;
    }
    .view {
        margin-left: 40%; /* Adjust the margin for smaller screens */
        margin-top: 22%; /* Adjust the margin for smaller screens */
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        perspective: 200; /* Reduce perspective value for smaller screens */
      }
      
      .plane {
        width: 150px; /* Reduce the size of the plane for smaller screens */
        height: 150px; /* Reduce the size of the plane for smaller screens */
        transform-style: preserve-3d;
      }
      
      .plane.main {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0;
        transform: rotateX(60deg) rotateZ(-30deg);
        -webkit-animation: rotate 20s infinite linear;
        animation: rotate 20s infinite linear;
      }
      
      .plane.main .circle {
        width: 150px; /* Reduce the size of the circle for smaller screens */
        height: 150px; /* Reduce the size of the circle for smaller screens */
        position: absolute;
        transform-style: preserve-3d;
        border-radius: 100%;
        box-sizing: border-box;
        box-shadow: 0 0 30px crimson, inset 0 0 30px crimson; /* Adjust the shadow for smaller screens */
      }
      
      /* Adjust the keyframes for smaller screens */
      @-webkit-keyframes rotate {
        0% {
          transform: rotateX(0) rotateY(0) rotateZ(0);
        }
        100% {
          transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
        }
      }
      
      @keyframes rotate {
        0% {
          transform: rotateX(0) rotateY(0) rotateZ(0);
        }
        100% {
          transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
        }
      }
      .resume {
        border: 2px solid #333; /* Border style with color */
        background: white; /* No background color */
        padding: 10px 20px; /* Add padding for button size */
        margin: 5px; /* Add margin for spacing between buttons */
        cursor: pointer; /* Change cursor to pointer on hover for usability */
        font-family: 'Montserrat', sans-serif;
        transition: background-color 0.5s;
        margin-top: 6%;
    }
    
    .resume a {
        text-decoration: none; /* Remove underline from the link inside the button */
        color: inherit; /* Inherit text color from the button */
    }
    
    .resume:hover {
        background-color: black; /* Background color on hover */
        color: white;
        border: 2px solid #ffffff; /* Border style with color */
    }
    
    .projects-container h2{
        font-size: 30px;
    }
    .projectContainer1, .projectContainer2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        max-width: 100%; /* Set to 100% for full-width responsiveness */
    }
    .project {
        background-color: #fff;
        margin: 5px; /* Increase the margin to create space on smaller screens */
        padding: 3px; /* Increase padding for better touch usability */
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Reduce box-shadow for a lighter effect */
        border-radius: 5px;
        width: 60%; /* Use a percentage value for responsiveness */
        height: 50%;
        max-width: 100px; /* Set a maximum width for larger screens */
        text-align: center;
    }
    .contactContainer h1{
        font-size: 30px
    }
    #submit-form label{
        font-size: 15px;
    }
    .popup img{
        width: 200px; /*ADJUST THE SIZE OF THE IMAGE HERE */
        margin-top: -50%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }
    .popup h2{
        color: #000000;
        font-family: 'Open Sans', sans-serif;
        font-size: 20px;
    }
    .popup p{
        font-size: 12px;
    }
    .popup button{
        display: inline-block;
        padding: 10px 20px;
        background-color: #000000; /* Background color */
        color: #fff; /* Text color */
        border: none; /* Remove button border */
        border-radius: 5px; /* Rounded corners */
        font-size: 16px; /* Font size */
        cursor: pointer; /* Add a pointer cursor on hover */
        transition: background-color 0.3s, transform 0.3s;
    }
    .popup{
        width: 100%;
    }
    /* Mobile-specific styles */

    /* Mobile-specific styles */
/* Mobile-specific styles */
/* Mobile-specific styles */
.nav-links {
    display: none; /* Hide the navigation links by default on mobile */
    flex-direction: column; /* Stack links vertically */
    background-color: #B2C8BA; /* Set a background color for the mobile menu */
    position: absolute;
    top: 60px; /* Adjust the top position to align with your fixed navbar */
    right: 0;
    z-index: 1000;
    text-align: center; /* Center-align the links vertically */
    width: 100%;
    opacity: 0; /* Start with 0 opacity to hide initially */
    transition: opacity 0.3s, max-height 0.3s ease-in-out; /* Add transitions */
    pointer-events: none; /* Disable pointer events when hidden */
    max-height: 0; /* Initially hide the menu */
    overflow: hidden;
}

.nav-links.active {
    display: flex; /* Show the navigation links when the menu is active */
    opacity: 1; /* Fade in with 100% opacity */
    pointer-events: auto; /* Enable pointer events when visible */
    max-height: 500px; /* Adjust the value based on your content */
}

/* Add styles for the mobile menu icon (hamburger) */
.menu-icon {
    cursor: pointer;
    padding: 10px;
}

.menu-icon div {
    background-color: #000;
    height: 3px;
    width: 30px;
    margin: 6px 0;
}

  
    /* Additional responsive styles for small screens */
  }